<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Лучший интернет магазин
        в мире{% endblock title %}</title>
</head>
<body>
    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url "product-list" %}">Все товары</a></li>
            {% block menu %}{% endblock %}
            {% if user.is_authenticated %}
               {% block menu_links %}{% endblock %}
                   <li class="menu-right"><a href="{% url 'logout' %}?next={{ request.get_full_path }}" class="nav-link">Выход</a></li>
                   <li class="menu-right">Привет, {{ user.username }}!</li>
           {% else %}
               <li class="menu-right"><a href="{% url 'login' %}?next={{ request.get_full_path }}" class="nav-link">Вход</a></li>
           {% endif %}
        </ul>
    </nav>

    <div class="container">
        <h1>{% block page_header %}Лучшие товары в мире!
            {% endblock page_header %}</h1>
        {% block content %}{% endblock content %}
    </div>

</body>
</html>